Data Visualization using Seaborn.ipynb
FeatureEngineering-checkpoint.ipynb
teaching.md
.gitignore
Day-2 regression/Linear_Regression_Python_Implementation.ipynb
day-3/Liver Patient Prediction Model Final.ipynb
day-3/TitanicModels.ipynb